/* ------------------------------------------------------------ *\
 * LAYOUTS
\* ------------------------------------------------------------ */

/**
 * FORMS
 */

/* Form Box */
.form-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 8px;
  position: relative;
}

/* Label */
.form-box .form-label {
  font-size: var(--fs-h6) !important;
  font-weight: var(--fw-medium) !important;
  line-height: var(--lh-h6) !important;
}

/* Input */
.form-box .form-control {
  border: 2px solid var(--border-color) !important;
  background-color: var(--bg-color) !important;
  font-size: var(--fs-p) !important;
  font-weight: var(--fw-regular) !important;
  padding-inline: 12px !important;
  border-radius: var(--rounded-8);
  min-height: 40px;
  max-height: 40px;
  transition: all 0.4s;
}

.form-box .form-control.medium {
  font-size: var(--fs-h6) !important;
  font-weight: var(--fw-medium) !important;
  min-height: 47px !important;
  max-height: 47px !important;
  padding-inline: 15px !important;
}

.form-box:has(.form-control.medium) .absolute { left: 13px; }

html[dir="rtl"] .form-box:has(.form-control.medium) .absolute { 
  left: auto; 
  right: 13px; 
}

.form-box .form-control:where(:hover, :focus-visible) { border-color: var(--text-color) !important; }

.form-box .form-control.success { border-color: var(--success-color) !important; }

.form-box .form-control.success::placeholder { color: var(--success-color) !important; }

.form-box .form-control.warning { border-color: var(--warning-color) !important; }

.form-box .form-control.warning::placeholder { color: var(--warning-color) !important; }

.form-box .form-control.error { border-color: var(--error-color) !important; }

.form-box .form-control.error::placeholder { color: var(--error-color) !important; }

.form-box:has(> .absolute) .form-control { padding-inline-start: 44px !important; }

.form-box .absolute {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

html[dir="rtl"] .form-box .absolute {
  left: auto;
  right: 10px;
}

/* Input Group */

/* Range */

/* Textarea */

/* Select */
.form-box .form-select {
  border: 2px solid var(--border-color) !important;
  background-color: var(--bg-color) !important;
  font-size: var(--fs-p) !important;
  font-weight: var(--fw-regular) !important;
  padding-inline: 12px 36px !important;
  border-radius: var(--rounded-8);
  min-height: 40px;
  max-height: 40px;
  transition: all 0.4s;
}

html[dir="rtl"] .form-box .form-select { padding-inline: 36px 12px !important; }

/* Checks & Radios */
.form-checkbox {
  display: flex;
  align-items: start;
  gap: 10px;
}

.form-checkbox input { margin: 3px 0 0 0 !important; }

.form-check-input {
  border: 1.8px solid var(--border-color) !important;
  border-radius: var(--rounded-8);
  min-width: 16px;
  max-width: 16px;
  min-height: 16px;
  max-height: 16px;
  transition: all 0.4s;
}

.form-check-input:hover { border-color: var(--text-color) !important; }

.form-check-input:checked { 
  background-color: var(--text-color) !important; 
  border-color: var(--text-color) !important;
}

.form-check-label {
  font-size: var(--fs-p) !important;
  font-weight: var(--fw-regular) !important;
  line-height: var(--lh-p) !important;
}

/* Validation */
.validation {
  font-size: var(--fs-p) !important;
  font-weight: var(--fw-regular) !important;
  line-height: var(--lh-p) !important;
  margin-block-start: -5px;
  display: none;
}

.validation.show { display: block; }

.validation.success { color: var(--success-color); }

.validation.warning { color: var(--warning-color); }

.validation.error { color: var(--error-color); }

/**
 * COMPONENTS
 */

/* Logo */
.logo .img-logo {
  min-width: max-content;
  max-width: max-content;
  min-height: 40px;
  max-height: 40px;
}

/* Banner */
.banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 80px 0;
  margin-block-end: 80px;
}

.banner .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Avatars */
.avatar {
  border-radius: var(--rounded-full);
  overflow: hidden;
}

.avatar.medium {
  min-width: 32px;
  max-width: 32px;
  min-height: 32px;
  max-height: 32px;
}

.avatar.large {
  min-width: 60px;
  max-width: 60px;
  min-height: 60px;
  max-height: 60px;
}

/* Icon button */
.icon-btn {
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
  text-transform: uppercase;
  border-radius: var(--rounded-full);
  display: flex;
  align-items: center;
  justify-content: center;
  --state-layer-bg: var(--text-color);
  font-size: var(--fs-p) !important;
  font-weight: var(--fw-regular) !important;
  line-height: var(--lh-p) !important;
  transition: all 0.4s;
}

.icon-btn.black:hover {
  background-color: var(--text-color) !important;
  color: var(--bg-color) !important;
}

.icon-btn.black-full {
  border: 1.8px solid var(--text-color) !important;
  background-color: var(--text-color) !important; 
  color: var(--bg-color) !important;
}

.icon-btn.black-full:hover {
  background-color: var(--bg-color) !important; 
  color: var(--text-color) !important;
}

.icon-btn.black-border {
  border: 1.8px solid var(--text-color) !important;
  background-color: var(--bg-color) !important; 
  color: var(--text-color) !important;
}

.icon-btn.black-border:hover {
  background-color: var(--text-color) !important; 
  color: var(--bg-color) !important;
}

.icon-btn.black-border.active {
  background-color: var(--text-color) !important; 
  color: var(--bg-color) !important;
}

.icon-btn.extra-large {
  min-width: 45px;
  max-width: 45px;
  min-height: 45px;
  max-height: 45px;
}

.icon-btn.large {
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
}

.icon-btn.large svg {
  min-width: 22px !important;
  min-height: 22px !important;
  max-width: 22px !important;
  max-height: 22px !important;
}

.icon-btn.small {
  min-width: 28px;
  max-width: 28px;
  min-height: 28px;
  max-height: 28px;
}

.icon-btn.small svg {
  min-width: 18px;
  max-width: 18px;
  min-height: 18px;
  max-height: 18px;
}

/* Accordion */

/* Avatars */

/* Alerts */

/* Badge */
:has(> .badge) { position: relative !important; }

.badge {
  font-size: var(--fs-small) !important;
  font-weight: var(--fw-regular) !important;
  background-color: var(--main-color) !important;
  border-radius: var(--rounded-full);
  width: 100%;
  min-width: 20px;
  height: 20px;
}

/* Breadcrumb */
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  font-size: var(--fs-p) !important;
  font-weight: var(--fw-medium) !important;
  line-height: var(--lh-p) !important;
}

.breadcrumb a { 
  color: var(--text-color) !important;
  transition: color 0.7s; 
}

.breadcrumb a:hover { color: var(--main-color) !important; }

.breadcrumb .breadcrumb-item { color: var(--second-color) !important; }

.breadcrumb-item+.breadcrumb-item::before {
    float: left;
    padding-right: 8px;
    color: var(--second-color);
    content: var(--bs-breadcrumb-divider, "/");
}

/* Buttons */
.btn {
  font-size: var(--fs-p) !important;
  font-weight: var(--fw-medium) !important;
  border: none;
  border-radius: var(--rounded-4);
  text-transform: capitalize;
  padding-inline: 16px !important;
  min-height: 40px;
  max-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: max-content; 
  transition: all 0.4s;
}

.btn.small {
  font-size: var(--fs-p) !important;
  font-weight: var(--fw-regular) !important;
  min-height: 36px !important;
  max-height: 36px !important;
}

.btn.large {
  font-size: var(--fs-h6) !important;
  font-weight: var(--fw-medium) !important;
  padding-inline: 32px !important;
  min-height: 57px !important;
  max-height: 57px !important;
}

.btn svg {
  min-width: 18px !important;
  max-width: 18px !important;
  min-height: 18px !important;
  max-height: 18px !important;
}

.btn.large svg {
  min-width: 24px !important;
  max-width: 24px !important;
  min-height: 24px !important;
  max-height: 24px !important;
}

.btn.btn-outline { border: 2px solid var(--border-color) !important; }

.btn.btn-outline:hover { border: 2px solid var(--text-color) !important; }

.btn.btn-outline.active { border: 2px solid var(--text-color) !important; }

.btn.btn-main {
  background-color: var(--text-color);
  color: var(--bg-color) !important;
}

.btn.btn-main:hover { background-color: var(--main-color); }

.btn.btn-light {
  background-color: transparent !important;
  --state-layer-bg: var(--text-color);
}

.btn.btn-seconadry { background-color: var(--second-bg-color); }

.btn.btn-seconadry:hover {
  background-color: var(--text-color);
  color: var(--bg-color) !important;
}

.btn.btn-outline-main {
  border: 1.8px solid var(--text-color) !important;
  background-color: transparent !important;
}

.btn.btn-outline-main:hover { 
  color: var(--bg-color) !important; 
  border-color: var(--main-color) !important;
}

.btn.btn-outline-main::before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  right: 0;
  z-index: -1;
  height: 100px;
  background-color: var(--main-color) !important;
  transform: rotate(10deg) translateY(100px);
  transition: all 0.6s;
}

.btn.btn-outline-main:hover::before { transform: rotate(10deg) translateY(-30px); }

.btn.btn-main-outline {
  border: 1.8px solid var(--text-color) !important;
  background-color: transparent !important;
  color: var(--bg-color) !important;
}

.btn.btn-main-outline:hover { color: var(--text-color) !important; }

.btn.btn-main-outline::before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  right: 0;
  z-index: -1;
  height: 100px;
  background-color: var(--text-color) !important;
  transform: rotate(10deg) translateY(-30px);
  transition: all 0.6s;
}

.btn.btn-main-outline:hover::before { transform: rotate(10deg) translateY(-150px); }

.btn.btn-tag {
  border: 1.8px solid var(--border-color) !important;
  color: var(--text-color) !important;
}

.btn.btn-tag:hover { color: var(--main-color) !important; }

.btn.btn-card {
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
}

.btn.btn-card:hover {
  background-color: var(--text-color) !important;
  color: var(--bg-color) !important;
}

/* Button group */

/* Card */
.card-shopping-cart {
  display: flex;
  align-items: center;
  gap: 16px;
}

.card-shopping-cart .img-card {
  border-radius: var(--rounded-10);
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;
}

.card-shopping-cart .card-body {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
}

.card-shopping-cart .card-body .title-card { transition: all 0.4s; }

.card-shopping-cart .card-body .title-card:hover { color: var(--main-color) !important; }

.card-main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr max-content;
  gap: 16px;
  position: relative !important;
  transition: none !important;
}

.card-main .badge {
  position: absolute;
  top: 14px;
  left: 14px;
  z-index: 30;
}

.card-main .carousel-item {
  border: 1.8px solid var(--border-color) !important;
  border-radius: var(--rounded-8);
  overflow: hidden;
  width: 100%;
  display: block;
  transition: all 0.8s !important;
}

.card-main .carousel-item .img-card {
  width: 100%;
  transition: all 0.4s;
}

.card-main .card-overflow:hover .carousel-item .img-card { transform: scale(1.1); }

.card-main .card-body {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card-main .card-body .title-card { transition: all 0.4s; }

.card-main .card-body .title-card:hover { color: var(--main-color) !important; }

.card-main .card-body .carousel-indicators {
  position: relative !important;
  margin: 0 !important;
  justify-content: start !important;
  gap: 10px;
  height: 22px !important;
}

.product-color {
  border: 1.8px solid transparent !important;
  background-color: var(--bg-product-color) !important;
  border-radius: var(--rounded-full) !important;
  min-width: 18px;
  max-width: 18px;
  min-height: 18px;
  max-height: 18px;
  opacity: 1 !important;
  margin: 0 !important;
  transition: all 0.4s;
}

.product-color.active { border-color: var(--text-color) !important; }

.card-main .card-overflow {
  border-radius: var(--rounded-10) !important;
  position: relative;
  overflow: hidden;
}

.card-main .btn-card {
  border-radius: var(--rounded-full);
  position: absolute;
  left: 14px;
  right: 14px;
  z-index: 10;
  width: calc(100% - 28px);
  bottom: 14px;
}

.card-main .card-overflow .icon-btn {
  position: absolute;
  top: 14px;
  z-index: 10;
  right: 14px;
}

.card-main .img-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.4s;
}

.card-main .card-overflow:hover .img-hover {
  opacity: 1;
  visibility: visible;
  transform: scale(1.1);
}

.card-main .btn { max-width: 100%; }

.card-collections {
  border-radius: var(--rounded-40);
  overflow: hidden;
  position: relative;
  min-height: 383px;
}

.card-collections .img-card { 
  min-height: 383px;
  transition: all 2s; 
}

.card-collections:hover .img-card { transform: scale(1.1); }

.card-collections .card-body {
  background-color: var(--bg-color);
  border-radius: var(--rounded-full);
  padding-inline: 24px;
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
  width: calc(100% - 40px); 
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 52px;
}

.card-collections .card-body .arrow {
  color: var(--main-color) !important;
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%) translateX(10px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
}

html[dir="rtl"] .card-collections .card-body .arrow {
  left: 24px;
  right: auto;
  transform: translateY(-50%) translateX(-10px);
}

.card-collections .card-body:hover .arrow { 
  transform: translateY(-50%) translateX(0);
  opacity: 1;
  visibility: visible;
}

.card-collections .card-body .item { transition: all 0.4s; }

.card-collections .card-body:hover .item {
  opacity: 0;
  visibility: hidden;
}

.card-collection-two {
  position: relative;
  overflow: hidden;
  border-radius: var(--rounded-24);
  min-height: 546px;
}

.card-collection-two .img-card {
  min-height: 546px;
  transition: all 2s;
}

.card-collection-two:hover .img-card { transform: scale(1.1); }

.card-collection-two .card-body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-collection-two .title-card { 
  max-width: 200px;
  transition: all 0.4s; 
}

.card-collection-two .title-card:hover { color: var(--main-color) !important; }

.card-insta {
  background-size: cover;
  background-position: center center;
  background-origin: border-box;
  background-repeat: no-repeat;
  border-radius: var(--rounded-8);
  min-height: 220px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.card-insta .hover {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
}

.card-insta:hover .hover {
  opacity: 1;
  visibility: visible;
}

.card-cutomer {
  border: 1.8px solid var(--border-color);
  border-radius: var(--rounded-8);
  display: grid;
  grid-template-rows: 273px 1fr;
}

.card-cutomer .overflow-img {
  overflow: hidden;
  position: relative;
}

.card-cutomer .overflow-img .hover {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
}

.card-cutomer .overflow-img:hover .hover {
  opacity: 1;
  visibility: visible;
}

.card-cutomer .card-body { padding: 26px; }

/* Carousel */
.carousel-indicators {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px !important;
}

.carousel-indicators .slide-to {
  border: 1.8px solid transparent !important;
  background-color: transparent !important;
  opacity: 1 !important;
  margin: 0 !important;
  border-radius: var(--rounded-full);
  min-width: 16px;
  max-width: 16px;
  min-height: 16px;
  max-height: 16px;
  position: relative;
}

.carousel-indicators .slide-to.active { border-color: var(--text-color) !important; }

.carousel-indicators .slide-to:before {
  content: "";
  border: 1.8px solid var(--text-color);
  border-radius: var(--rounded-full);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 8px;
  max-width: 8px;
  min-height: 8px;
  max-height: 8px;
}

.carousel-indicators .slide-to.active:before { background-color: var(--text-color); }

/* Close button */

/* Collapse */

/* Empty */
:has(> .empty) { 
  position: relative; 
  min-height: 30vh;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  font-size: var(--fs-h3) !important;
  font-weight: var(--fw-medium) !important;
  color: var(--second-color) !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.empty svg {
  opacity: 0.3;
  width: 60px;
  height: 60px;
}

/* Dropdowns */
.dropdown { position: relative; }

.dropdown img {
  min-width: 20px;
  max-width: 20px;
  min-height: 15px;
  max-height: 15px;
}

.dropdown .dropdown-menu {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: var(--rounded-0);
  border: none;
  padding: 15px 20px !important;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 500px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(45px) scale(0);
  transition: none;
}

.dropdown .dropdown-menu.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(45px) scale(1);
  transition: all 0.4s;
}

.dropdown .dropdown-menu .dropdown-item {
  background-color: transparent !important;
  font-size: var(--fs-p) !important;
  font-weight: var(--fw-medium) !important;
  transition: all 0.4s;
}

.dropdown .dropdown-menu .dropdown-item:hover { color: var(--main-color) !important; }

.dropdown .dropdown-menu .dropdown-item.active { color: var(--main-color) !important; }

/* List group */

/* Modal */
.modal .modal-content {
  background-color: var(--bg-color) !important;
  border-radius: var(--rounded-12) !important;
  padding: 20px !important;
  display: grid;
}

.modal.searchbar .modal-content { gap: 28px; }

.modal.searchbar  .card-main { grid-template-rows: 300px max-content; }

.modal.searchbar  .card-main .carousel-item { height: 300px; }

.modal.searchbar  .card-main .carousel-item .img-card { height: 300px; }

/* Navbar */

/* Navs & tabs */

/* Offcanvas */
.offcanvas {
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
  padding: 20px;
  max-width: 320px;
  display: grid;
  grid-template-columns: 1fr;
}

.offcanvas .offcanva-item {
  display: flex;
  align-items: center;
  min-height: 48px;
  max-height: 48px;
  border-bottom: 2px solid var(--border-color);
  transition: all 0.4s;
}

.offcanvas .offcanva-item:hover { color: var(--main-color) !important; }

.offcanvas .offcanva-item.active { color: var(--main-color) !important; }

.offcanvas.menu {
  grid-template-rows: max-content 1fr max-content;
  gap: 16px;
  padding-block-end: 0 !important;
}

.offcanvas.categories {
  grid-template-rows: max-content 1fr;
  padding-block-end: 0 !important;
}

.offcanvas.shopping-cart {
  grid-template-rows: max-content 1fr max-content;
  width: 100%;
  max-width: 480px;
}

.offcanvas.shopping-cart .btn { max-width: 100%; }

.filter {
  background-color: var(--bg-color) !important;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 110000;
  width: 300px;
  height: 100dvh;
  transform: translateX(-100%);
  display: grid;
  gap: 20px;
  padding: 24px;
  overflow-y: auto;
  transition: transform 400ms ease-out;
}

html[dir="rtl"] .filter { 
  transform: translateX(100%); 
  left: auto;
  right: 0;
}

.filter.active { transform: translateX(0%) !important; }

.filter .title {
  font-size: 20px !important;
  margin-block-end: 16px !important;
  font-weight: 500 !important;
}

/* Pagination */
.pagination {
  margin-block-start: 30px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.pagination svg {
  min-width: 20px;
  max-width: 20px;
  min-height: 20px;
  max-height: 20px;
}

.pagination .page-item .page-link {
  border: 2px solid var(--border-color) !important;
  box-shadow: 0 0 0 transparent !important;
  background-color: var(--bg-color) !important;
  border-radius: var(--rounded-8) !important;
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-p) !important;
  font-weight: var(--fw-medium) !important;
  line-height: var(--lh-p) !important;
  color: var(--text-color) !important;
  transition: color 0.4s, background-color 0.4s;
}

.pagination .page-item .page-link:hover {
  background-color: var(--text-color) !important;
  color: var(--bg-color) !important;
}

.pagination .page-item .page-link.active {
  background-color: var(--text-color) !important;
  color: var(--bg-color) !important;
}

/* Placeholders */

/* Popovers */

/* Progress */

/* Scrollspy */

/* Spinners */

/* Toasts */

/* Tooltips */
.tooltip { 
  display: none;
  z-index: 1200000; 
}

.tooltip-inner {
  font-size: var(--fs-small) !important;
  font-weight: var(--fw-regular) !important;
  line-height: var(--lh-small) !important;
  background-color: var(--text-color) !important;
  color: var(--bg-color) !important;
  border-radius: var(--rounded-4);
  text-transform: capitalize;
  padding-inline: 6px;
}

.tooltip .tooltip-arrow { display: none; }

/* Line Clamp */
.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-word;
  overflow-wrap: anywhere;
}

.line-clamp.line-clamp-1  { -webkit-line-clamp: 1; }

.line-clamp.line-clamp-2  { -webkit-line-clamp: 2; }

.line-clamp.line-clamp-3  { -webkit-line-clamp: 3; }

.line-clamp.line-clamp-4  { -webkit-line-clamp: 4; }

.line-clamp.line-clamp-5  { -webkit-line-clamp: 5; }

.line-clamp.line-clamp-6  { -webkit-line-clamp: 6; }

.line-clamp.line-clamp-7  { -webkit-line-clamp: 7; }

.line-clamp.line-clamp-8  { -webkit-line-clamp: 8; }

.line-clamp.line-clamp-9  { -webkit-line-clamp: 9; }

.line-clamp.line-clamp-10 { -webkit-line-clamp: 10; }
