/* ------------------------------------------------------------ *\
 * MAIN – OUTSIDE
\* ------------------------------------------------------------ */

/* START LOAD */
.start-load {
    background-color: var(--bg-color) !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1500000;
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
}

.start-load.active {
    opacity: 0;
    visibility: hidden;
}

.start-load .spinner-border {
    border: 3px solid var(--border-color) !important;
    border-top-color: transparent !important;
    width: 50px !important;
    height: 50px !important;
}

/* START CARD */
.overlay-start-card {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
}

.overlay-start-card.active {
    opacity: 1;
    visibility: visible;
}

.start-card {
    border-color: transparent !important;
    background-color: var(--bg-color) !important;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: var(--rounded-12);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.0);
    z-index: 1100000;
    width: calc(100% - 32px);
    max-width: 660px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 440px max-content;
    max-height: 90dvh;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
}

.start-card.active {
    transform: translate(-50%, -50%) scale(1.0);
    opacity: 1;
    visibility: visible;
}

.start-card .close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.start-card .card {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px 16px;
}

.start-card .card-body {
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding: 0;
    width: 100%;
    max-width: 320px;
}

/* Header */
.header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 80px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 30;
    width: 100%;
    height: 130px;
}

.header .header-top {
    background-color: var(--text-color);
    color: var(--bg-color) !important;
    display: flex;
    align-items: center;
}

.header .header-top .btn-light { --state-layer-bg: var(--bg-color); }

.header .header-bottom {
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    height: 80px;
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    z-index: 30;
    transition: all 0.4s;
}

.header .header-bottom.active {
    top: -80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: scroll_header 0.4s linear alternate;
}

@keyframes scroll_header {
    0% { top: -80px; }
    100% { top: 0; }
}

.header .header-bottom .nav-item { transition: all 0.4s; }

.header .header-bottom .nav-item:hover { color: var(--main-color) !important; }

.header .header-bottom .nav-item.active { color: var(--main-color) !important; }

.header .header-bottom .icon {
    min-width: 25px;
    max-width: 25px;
    min-height: 25px;
    max-height: 25px;
    transition: all 0.4s;
}

.header .header-bottom .icon:hover { color: var(--main-color) !important; }

.header .header-bottom li:hover .icon { color: var(--main-color) !important; }

.header .header-bottom .drop-user {
    background-color: var(--bg-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: var(--rounded-12);
    padding: 24px;
    width: 290px;
    position: absolute;
    left: 50%;
    transform: translateY(32px) translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
}

.header .header-bottom li:hover .drop-user {
    transform: translateY(16px) translateX(-50%);
    opacity: 1;
    visibility: visible;
}

.header .header-bottom .drop-user .btn-main {
    width: 100%;
    min-height: 45px;
    max-height: 45px;
}

/* NAVBAR MOBILE */
.navbar-mobile {
    background-color: var(--bg-color);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 30;
    width: 100%;
    height: 70px;
    display: grid;
    align-items: center;
    place-items: center;
    grid-template-columns: repeat(5, 1fr);
    transition: all 0.4s;
}

.navbar-mobile.active { box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }

.navbar-mobile .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    --state-layer-bg: var(--text-color);
}

.navbar-mobile .nav-item svg {
    width: 20px;
    height: 20px;
}

.navbar-mobile .nav-item span {
    font-size: 12px;
    font-weight: var(--fw-regular);
}

/* Footer */
.footer { 
    border-top: 1.8px solid var(--border-color); 
    color: var(--text-color) !important;
}

.footer .footer-top { padding-block: 80px; }

.footer .footer-bottom {
    border-top: 1.8px solid var(--border-color);
    padding-block: 17px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 20px;
}

.footer .icon-btn { border: 2px solid var(--text-color) !important; }

.footer .footer-link {
    opacity: .7;
    font-size: var(--fs-p) !important;
    font-weight: var(--fw-regular) !important;
    line-height: var(--lh-p) !important;
    transition: all 0.4s;
}

.footer .footer-link:hover {
    opacity: 1;
    color: var(--main-color) !important;
}

.footer .input-wrapper { position: relative; }

.footer .input-wrapper .form-control {
    border-radius: var(--rounded-full);
    min-height: 50px !important;
    max-height: 50px !important;
    padding-inline: 16px !important;
    padding-inline-end: 50px !important;
}

.footer .input-wrapper .icon-btn {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);;
}

html[dir="rlt"] .footer .input-wrapper .icon-btn {
    left: 5px;
    right: auto;
}

/* ------------------------------------------------------------ *\
 * MAIN – INSIDE
\* ------------------------------------------------------------ */

/* Hero Section */

/* About Section */

/* Services Section */

/* Contact Section */
