/* ------------------------------------------------------------ *\
 * MEDIA QUERY
\* ------------------------------------------------------------ */

/**
 * FIT SIZE: 768PX
 */
@media screen and (min-width: 768px) {
    /** 
     * REUSED STYLE 
     */
    .main { padding-block: 130px 0; }

    /**
     * COMPONENTS
     */

    /* Tooltips */
    .tooltip { display: flex; }

    /* Modal */
    .modal.searchbar .modal-content { padding: 40px !important; }
}

/**
 * FIT SIZE: 992px
 */
@media screen and (min-width: 992px) {}

/**
 * FIT SIZE: 1440px
 */
@media screen and (min-width: 1440px) {}