/* ------------------------------------------------------------ *\
 * MEDIA QUERY
\* ------------------------------------------------------------ */

/**
 * FIT SIZE: 768PX
 */
@media screen and (min-width: 768px) {
    /**
     * RESET
     */
    body { padding-block-end: 0; }

    /** 
     * REUSED STYLE 
     */
    .main { padding-block: 130px 0; }

    /**
     * COMPONENTS
     */

    /* Tooltips */
    .tooltip { display: flex; }

    /* Modal */
    .modal.searchbar .modal-content { padding: 40px !important; }
}

/**
 * FIT SIZE: 992px
 */
@media screen and (min-width: 992px) {
    /**
     * COMPONENTS
     */
     
    /* Cards */
    .card-main .btn-card { bottom: -50px; }

    .card-main .card-overflow .icon-btn { right: -50px; }

    .card-main .card-overflow:hover .btn-card { bottom: 14px; }

    .card-main .card-overflow:hover .icon-btn { right: 14px; }

    /**
     * MAIN – OUTSIDE
     */

    /* Footer */
    .footer .footer-bottom {
        flex-direction: row;
        align-items: center;
    }
}

/**
 * FIT SIZE: 1440px
 */
@media screen and (min-width: 1440px) {}