/* ------------------------------------------------------------ *\
 * CUSTOM PROPERITY
\* ------------------------------------------------------------ */

:root {
    /**
     * COLORS
     */

    /* Primary  */
    --orange-color: #f9ad35;
    --orange-dark-color: #F19712;
    --soft-orange-color: #f9ad3515;
    --soft-orange-dark-color: #F1971215;

    --green-color: #70f842;
    --green-dark-color: #45ff34;
    --soft-green-color: #70f84215;
    --soft-green-dark-color: #45ff3415;

    --rosy-color: #FB64B6;
    --rosy-dark-color: #E9419C;
    --soft-rosy-color: #FB64B615;
    --soft-rosy-dark-color: #E9419C15;

    --red-color: #FF394C;
    --red-dark-color: #DD182B;
    --soft-red-color: #FF394C15;
    --soft-red-dark-color: #DD182B15;

    /* DARK */
    --dark-bg-color: #000000;
    --dark-second-bg-color: #080808;
    --dark-third-bg-color: #101010;
    --dark-fourd-bg-color: #131313;
    --dark-text-color: #ffffff;
    --dark-second-color: #737373;
    --dark-third-color: #908f90;
    --dark-border-color: #151515;
    --dark-second-border-color: #202020;

    /* LIGHT */
    --light-bg-color: #ffffff;
    --light-second-bg-color: #fafafa;
    --light-third-bg-color: #f5f5f5;
    --light-fourd-bg-color: #eeeeee;
    --light-text-color: #111111;
    --light-second-color: #555555;
    --light-third-color: #777777;
    --light-border-color: #e0e0e0;
    --light-second-border-color: #cfcfcf;

    /**
     * TYPOGRAPHY
     */

    /* Font Size */
    --fs-light-small: 14px;
    --fs-light-large: 16px;
    --fs-regular-small: 16px;
    --fs-regular-large: 18px;
    --fs-medium-small: 18px;
    --fs-medium-large: 20px;
    --fs-semi-bold-small: 20px;
    --fs-semi-bold-large: 24px;
    --fs-bold-small: 24px;
    --fs-bold-large: 32px;

    /* Font Weight */
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    /* Line Height */
    --lh-light-small: 1.5;
    --lh-light-large: 1.7;
    --lh-regular-small: 1.5;
    --lh-regular-large: 1.7;
    --lh-medium-small: 1.4;
    --lh-medium-large: 1.6;
    --lh-semi-bold-small: 1.3;
    --lh-semi-bold-large: 1.5;
    --lh-bold-small: 1.2;
    --lh-bold-large: 1.4;

    /**
     * BORDER RADIUS
     */
    --rounded-none: 0;
    --rounded-sm: 2px;
    --rounded-md: 4px;
    --rounded-lg: 8px;
    --rounded-xl: 12px;
    --rounded-2xl: 16px;
    --rounded-3xl: 24px;
    --rounded-full: 9999px;

    /**
     * GOOGLE FONT
     */
    --font-family-en: "Quicksand", sans-serif;
}

/* ------------------------------------------------------------ *\
 * RESET
\* ------------------------------------------------------------ */

